<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="estilo.css">
	<title>Home Page</title>
</head>
<body>
	<div class="top_cliente">
		<div class="top_int_cliente">
			Nome do Sistema
		</div>
	</div>

	<div class="middle">
		<div class="middle_int">
			<div class="middle_int_l">
				<a href="cliente.html"><button class="btn btn-success">Sou Cliente</button></a>
			</div>
			<div class="middle_int_r">
				<a href="prestador.html"><button class="btn btn-success">Sou Prestador</button></a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="footer_int">
			Rodapé teste. Aqui terá um rodapé.
		</div>
	</div>
</body>
</html>